# email=ipactconsult@gmail.com
#_authToken=LW4gImFkbWluOnBhc3N3b3JkIiANCg==
#registry=https://registry.npmjs.org/
#allowRepublish=true
#always-auth=false

#registry=https://registry.npmjs.org/
#//registry.npmjs.org/:_authToken=LW4gImFkbWluOnBhc3N3b3JkIiANCg==
#allowRepublish=true
#always-auth=true